@charset "UTF-8";
/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1;
  font-size: 100%; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

nav ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

@font-face {
  font-family: "texgyreadventor-bold";
  src: url("fonts/texgyreadventor-bold.otf");
  font-family: "texgyreadventor-regular";
  src: url("texgyreadventor-regular.otf");
  font-family: "FreestyleScriptStd";
  src: url("FreestyleScriptStd.otf"); }
header {
  width: 1440px;
  z-index: 0;
  position: relative; }

div.top-image__big {
  width: 910px;
  height: 580px;
  box-shadow: -24px -24px #FFEC00;
  margin: 134px 146px 110px 370px;
  position: relative; }

.top-image__left {
  position: absolute;
  z-index: 2;
  top: 140px;
  left: 170px; }
  .top-image__left img {
    width: 430px;
    height: 160px;
    border: 3px solid black;
    padding: 14px; }

div.top-image__left__under p {
  font-family: texgyreadventor-bold; }

div.top-image__big__arrow {
  z-index: 1;
  width: 910px;
  position: absolute;
  top: 305px; }

.top-image__big__arrow__left {
  margin-left: 40px;
  float: left; }
  .top-image__big__arrow__left img {
    height: 60px;
    display: block; }

.top-image__big__arrow__right {
  float: right;
  margin-right: 40px; }
  .top-image__big__arrow__right img {
    height: 60px;
    display: block; }

.top-image__big__under {
  width: 890px;
  height: 35px;
  position: absolute;
  bottom: 0px;
  padding: 20px;
  color: #FFFFFF;
  background-color: rgba(0, 0, 0, 0.4); }
  .top-image__big__under p {
    font-size: 16px;
    text-shadow: 1px 1px black;
    font-family: texgyreadventor-regular;
    height: 32px;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto; }

.top-menu {
  width: 1100px;
  height: 230px;
  margin: 110px 170px 0;
  background-color: white;
  z-index: 0; }
  .top-menu__top {
    height: 54px;
    z-index: 1; }
    .top-menu__top__title {
      float: left;
      display: inline;
      font-family: FreestyleScriptStd; }
    .top-menu__top__link {
      float: right; }
      .top-menu__top__link p img {
        width: 12px;
        height: 12px; }
  .top-menu__under {
    margin: 40px; }
    .top-menu__under__sentence {
      float: left; }
    .top-menu__under__tag {
      float: right; }
      .top-menu__under__tag__link__find-by {
        font-size: 22px;
        color: #d3d3d3;
        font-family: texgyreadventor-regular; }
      .top-menu__under__tag__link li {
        height: 60px;
        width: 183px;
        list-style: none;
        float: left;
        font-size: 24px;
        font-family: texgyreadventor-regular;
        border: 3px solid black;
        margin-top: 15px;
        margin-left: 30px;
        box-sizing: border-box;
        text-align: center; }
      .top-menu__under__tag__link li.top-menu__under__tag__link--yellow {
        width: 240px;
        background-color: #FFEC00;
        font-family: texgyreadventor-regular-bold;
        border: none;
        margin-left: 0; }

div.contents {
  color: blue;
  font-family: "ＭＳ Ｐゴシック",fantasy; }

h2 {
  text-shadow: -2px -2px yellow; }

.contents__regist-link {
  box-shadow: -4px -4px #FFEC00; }

.top-image__left__under {
  color: #000000;
  font-size: 26px;
  font-family: tex gyre adventor bold; }

footer {
  font-size: 30px; }

/*# sourceMappingURL=style.css.map */
