@font-face {
  font-family: "texgyreadventor-bold";
  src: url('fonts/texgyreadventor-bold.otf');
  font-family: "texgyreadventor-regular";
  src: url('texgyreadventor-regular.otf');
  font-family: "FreestyleScriptStd";
  src: url('FreestyleScriptStd.otf');
}
