@font-face{
  font-family: "texgyreadventor-bold";
  src: url('fonts/texgyreadventor-bold.otf')
}

header{
  width: 1440px;
  z-index: 0;
  position: relative
}

div.top-image__big{
  width: 910px;
  height: 580px;
  box-shadow: -24px -24px #FFEC00;
  margin: 134px 146px 110px 370px;
  position: relative;
}

.top-image__left{
  position:absolute;
  z-index: 1;
  top:140px;
  left: 170px;
  img{
    width: 430px;
    height: 160px;
  border:3px solid black;
  padding: 14px;
  }
}

div.top-image__left__under p{
  font-family: texgyreadventor-bold;
}

.clearfix:after{
  content: "";
  clear:both;
  display: block;
}

.top-image__big__arrow {
  
}
.top-image__big__arrow__left{
  float: left;
  left : 40px;
}

.top-image__big__arrow__right{
  float: right;
}