@font-face{
  font-family: "texgyreadventor-bold";
  src: url('fonts/texgyreadventor-bold.otf');
  font-family: "texgyreadventor-regular";
  src: url('texgyreadventor-regular.otf');
}

header{
  width: 1440px;
  z-index: 0;
  position: relative
}

div.top-image__big{
  width: 910px;
  height: 580px;
  box-shadow: -24px -24px #FFEC00;
  margin: 134px 146px 110px 370px;
  position: relative;
}

.top-image__left{
  position:absolute;
  z-index: 2;
  top:140px;
  left: 170px;
  img{
    width: 430px;
    height: 160px;
  border:3px solid black;
  padding: 14px;
  }
}

div.top-image__left__under p{
  font-family: texgyreadventor-bold;
}


div.top-image__big__arrow {
  z-index: 1;
  width: 910px;
  position: absolute;
  top: 305px;
}
.top-image__big__arrow__left{
  margin-left : 40px;
  float: left;
  img{
    height: 60px;
    display: block;
  }
}

.top-image__big__arrow__right{
  float: right;
  margin-right: 40px;
  img{
    height: 60px;
    display: block;
  }
}

.top-image__big__under{
  width: 890px;
  height: 35px;
  position: absolute;
  bottom: 0px;
  padding: 20px;
  color: #FFFFFF;
  background-color: rgba(0,0,0, 0.4);
  p{
  font-size: 16px;
  text-shadow: 1px 1px black;
    font-family: texgyreadventor-regular;
  height: 32px;
  position :absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  }
}


div.top-menu{
  width: 1100px;
  height: 230px;
  background-color: white;
  z-index: 0;
  clear
  &__top {
    z-index: 1;
    &__title{
      float: left ;
      display: inline;
    }
    &__link{
      float: right;
    }
  }
  
}


